{% extends 'rtrack/base.html' %}

{% block title %}about{% endblock %}

{% block body_block %}
<h2>About rtrack</h2>
<p>
    Rtrack is an attempt to help reddit moderator teams manage and track issues and users.  It allows for creating
    reports that detail problems or issues within a subreddit, hold conversations about them, and associate users and
    links to them.  It also provides more functionality for tracking users of note, by also providing the ability to
    leave notes and link to modmail conversations.
</p>

{% endblock %}