<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <script
            src="//code.jquery.com/jquery-3.1.0.min.js"
			integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

</head>
<body>
<div class="container">
{% block nav_block %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">rtrack 1.0</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">index</a></li>
                <li><a href="{% url 'search' %}">search</a></li>
                <li><a href="">{% if user.is_authenticated %}Welcome, {{ user.username }}{% endif %}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'password_change' %}">change password!</a></li>
                <li><a href="{% url 'about' %}">about</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<div class="container">
{% block body_block %}
{% endblock %}
</div> <!-- body container -->
</div> <!-- container -->
</body>
</html>
