{% extends 'rtrack/base.html' %}

{% block title %}Report{% endblock %}

{% block body_block %}
<h2>Associate a dang user with "{{ report_title }}"</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'createassociation' report_id %}" class="form-inline" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" value="" size="20" />
    </div>

    <input type="Submit" name="Submit" class="btn btn-default" value="Create Association">




</form>
{% endblock %}