{% extends 'rtrack/base.html' %}

{% block title %}Report{% endblock %}

{% block body_block %}
<h1>Associate a dang URL with {{report_id}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create_url_link' report_id %}" method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <p>
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        </p>
    {% endfor %}

    <input type="Submit" name="Submit" value="Create Association">




</form>
{% endblock %}