{% extends 'rtrack/base.html' %}

{% block title %}Search{% endblock %}

{% block body_block %}
<p>Search</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    Search: <input type="text" name="search_text" value="" size="50" />
<input type="Submit" name="Submit" value="Search">

{% if queryresult %}
    <hr>
    <p>Your query for <b>{{ query_text }}</b> returned the following results:</p>

    {% if user_result %}
    <p>Users</p>
        <ul>
            {% for name in user_result %}
                <li><a href="{% url 'user_page' name.name %}">{{ name.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if report_result %}
    <p>Reports</p>
        <ul>
            {% for report in report_result %}
                <li><a href="{% url 'report' report.id %}">{{ report.title }} - {{ report.created }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
</form>

{% endblock %}